/* #1E1B1E */
/* #414141 */
@font-face {
  font-family: "TG";
  src: url("../fonts/TypoGroteskRegular.woff2") format("woff2"),
    url("../fonts/TypoGroteskRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TG Black";
  src: url("../fonts/TypoGroteskRegular.woff2") format("woff2"),
    url("../fonts/TypoGroteskRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TG Bold";
  src: url("../fonts/TypoGroteskBold.woff2") format("woff2"),
    url("../fonts/TypoGroteskBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sk";
  src: url("../fonts/Sk-Modernist-Regular.woff2") format("woff2"),
    url("../fonts/Sk-Modernist-Regular.woff") format("woff"),
    url("../fonts/Sk-Modernist-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.color-pink {
  color: pink;
}

.color-green {
  color: lightgreen;
}

body {
  background-color: #161616;
  color: #eee9db;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: TG Bold;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr) repeat(6, 0.5fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 10px;
  width: 100%;
  height: 100%;
  padding: 20px;
}

section {
  background-color: #1e1b1e;
  border-radius: 20px;
}

section.hire {
  grid-area: 1 / 1 / 4 / 4;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.hire h1 {
  font-size: 4.5vw;
}

section.hire > a {
  background-color: #1e1b1e;
  text-decoration: none;
  color: #eee9db;
  padding: 10px 18px 10px 18px;
  border-radius: 50px;
  font-size: 1.7vw;
  border: 2px solid #eee9db;
  align-self: end;
  margin-top: -70px;
  transition: all 0.2s ease-in-out;
}

section.hire > a:hover {
  color: #1e1b1e;
  background-color: #eee9db;
}

section.header {
  grid-area: 1 / 4 / 2 / 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1e1b1e;
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: TG Bold;
}
section.image {
  grid-area: 2 / 4 / 6 / 7;
  background-image: url(../assets/portrait.jpg);
  background-size: cover;
  background-position: center;
}
section.stats {
  grid-area: 4 / 1 / 6 / 4;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

section.stats > * {
  border-radius: 20px;
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1e1b1e;
}

section.stats > .exp {
  background-color: pink;
}
section.stats > .projects {
  background-color: lightsalmon;
}
section.stats > .nmb-client {
  background-color: lightgreen;
}

section.stats > * > h2 {
  font-size: 40px;
}

section.name {
  grid-area: 2 / 7 / 3 / 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
}

section.name p:first-of-type {
  color: #616161;
}

section.location {
  grid-area: 3 / 7 / 5 / 10;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 10px;
}

section.location .loc-text {
  display: flex;
  justify-content: space-between;
}

section.location .loc-text p:first-of-type {
  color: #616161;
}
#loc-image {
  height: 100%;
  padding-bottom: 30px;
  background-image: url(../assets/bxl-test.png);
  background-position: 50% 65%;
  border: 2px solid #eee9db;
  border-radius: 20px;
  object-fit: cover;
}

section.social {
  grid-area: 5 / 7 / 6 / 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

section.social .icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3d3d3d;
  color: #eee9db;
  width: 70px;
  height: 70px;
  text-decoration: none;
  font-size: 30px;
  border-radius: 100%;
  transition: all 0.1s ease-in-out;
}

.icons a:hover {
  cursor: pointer;
}

#icon-insta a:hover {
  background-color: #ea6c96;
}
#icon-github a:hover {
  background-color: #5b5b5b;
}
#icon-discord a:hover {
  background-color: #91a4e7;
}
#icon-linkedin a:hover {
  background-color: #3297ce;
}

section.skills {
  grid-area: 6 / 1 / 8 / 4;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

section.skills .stack-tech {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  flex-grow: 1;
  flex-basis: 0;
  gap: 10px;
}

.icons-tech {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  fill: #eee9db;
  transition: all 0.2s ease-in-out;
}

#icon-html {
  order: 1;
}
#icon-css {
  order: 2;
}
#icon-js {
  order: 3;
}
#icon-tailwind {
  order: 4;
}
#icon-react {
  order: 5;
}
#icon-ts {
  order: 6;
}
#icon-adobe {
  order: 7;
}
#icon-figma {
  order: 8;
}
#icon-html:hover {
  background-color: #f58555;
}
#icon-css:hover {
  background-color: #53aadc;
}
#icon-js:hover {
  background-color: #d1c149;
}
#icon-tailwind:hover {
  background-color: #69c4cc;
}
#icon-react:hover {
  background-color: #5fddf4;
}
#icon-ts:hover {
  background-color: #5999dd;
}
#icon-adobe:hover {
  background-color: #f34135;
}
#icon-figma:hover {
  background-color: #a973ef;
}

section.skills .stack-tech > * {
  background-color: #3d3d3d;
  font-size: 25px;
}

section.about {
  grid-area: 6 / 4 / 8 / 10;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 15px;
}

section.about .about-text {
  display: flex;
  justify-content: space-between;
}

.about-text a {
  color: #616161;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

.about-text a:hover {
  color: #eee9db;
}

.about p {
  font-family: Sk;
  font-size: 20px;
  color: #616161;
}
section.header svg {
  fill: #eee9db;
  width: 30px;
}

@media only screen and (max-width: 1220px) {
  body {
    overflow: scroll;
  }
  .grid-container {
    display: flex;
    flex-direction: column;
  }

  section.header {
    padding: 15px 30px;
  }

  section.hire {
    padding: 30px;
    gap: 20px;
    text-align: center;
  }

  section.hire > a {
    margin: 0;
    align-self: center;
  }

  section.name {
    padding: 30px;
  }

  section.image {
    min-height: 100%;
  }

  section.location {
    min-height: 30%;
  }

  section.stats {
    flex-direction: column;
  }

  section.stats > * {
    padding: 30px;
  }

  section.social {
    padding: 30px;
    justify-content: space-around;
  }

  section.social .icons > a {
    width: 60px;
    height: 60px;
  }

  section.skills .stack-tech {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  section.skills .stack-tech > * {
    padding: 30px;
  }
}
